* {
  font-family: "Roboto", sans-serif;
}

.table {
  width: 100%;
}

.table th {
  background-color: #1565c0;
  color: #ffffff;
  text-align: left;
  height: 2rem;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  text-transform: capitalize;
}

.table tbody td {
  padding: 5px 10px;
}

.table tbody tr:nth-child(even) {
  background-color: #bbdefb;
}

.table tbody tr:nth-child(odd) {
  background-color: #e3f2fd;
}

h2 {
  margin-bottom: 0;
}

button,
form input[type="submit"] {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #1565c0;
  border: none;
}

button:hover,
form input[type="submit"]:hover {
  background-color: #3982d6;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="submit"] {
  margin-top: 10px;
}

input[type="file"] {
  display: block;
}
